In [77]:
import pandas as pd
import numpy as np

In [78]:
p1 = pd.read_excel('../data/PROVEEDORES_X_PARTES/PROVEEDORES.xlsx')
p2 = pd.read_excel('../data/PROVEEDORES_X_PARTES/PROVEEDORES_parte_2.xlsx')
p3 = pd.read_excel('../data/PROVEEDORES_X_PARTES/PROVEEDORES_parte_3.xlsx')
p4 = pd.read_excel('../data/PROVEEDORES_X_PARTES/PROVEEDORES_parte_4.xlsx')
p5 = pd.read_excel('../data/PROVEEDORES_X_PARTES/PROVEEDORES_A_MANO.xlsx')

In [79]:
total = pd.concat([p1, p2, p3, p4, p5], axis=0).reset_index(drop=True)

In [80]:
total.shape

(11674, 16)

In [81]:
total_nodup = total.drop_duplicates(keep='first').reset_index(drop=True)

In [82]:
total_nodup.shape

(7923, 16)

In [83]:
nits = total.NIT.unique()

In [84]:
len(nits)

7923

In [85]:
total_nodup.head(2)

,NIT,Nombre,tipo_organizacion,actividad_economica,notario,nit_notario,departamento,municipio,direccion,telefono,inscripcion_sat,estado_sat,estado_rgae,fecha_constitucion,inscripcion_provisional_registro_mercantil,inscripcion_definitiva_registro_mercantil
0,26702827,DISAGRO DE GUATEMALA SOCIEDAD ANONIMA,SOCIEDAD ANÓNIMA,Fabricación de abonos y compuestos de nitrógeno,AYCINENA BANUS JOSE FERNANDO,52809,GUATEMALA,GUATEMALA,ANILLO PERIFERICO 17-36 Z.11,9347137,27/01/2021,Solvente,NO INSCRITO,21/08/2001,17/09/2001,10/10/2001
1,3454428,SIGMA CONSTRUCTORES SOCIEDAD ANONIMA,SOCIEDAD ANÓNIMA,Actividades de arquitectura e ingeniería y act...,BUCARO HURTARTE SALVADOR,990078,GUATEMALA,MIXCO,7 AVENIDA SAN CRISTOBAL SECTOR A 3 5-62 Z.8,2384 6464,25/08/2022,Solvente,HABILITADO,18/12/1980,19/12/1980,30/04/1981

In [86]:
r1 = pd.read_excel('../data/PROVEEDORES_X_PARTES/REPRESENTANTES_LEGALES.xlsx')
r2 = pd.read_excel('../data/PROVEEDORES_X_PARTES/REPRESENTANTES_LEGALES_parte_2.xlsx')
r3 = pd.read_excel('../data/PROVEEDORES_X_PARTES/REPRESENTANTES_LEGALES_parte_3.xlsx')
r4 = pd.read_excel('../data/PROVEEDORES_X_PARTES/REPRESENTANTES_LEGALES_parte_4.xlsx')
r5 = pd.read_excel('../data/PROVEEDORES_X_PARTES/REPRESENTANTES_LEGALES_A_MANO.xlsx')

In [87]:
reptotal = pd.concat([r1, r2, r3, r4, r5], axis=0).reset_index(drop=True)

In [88]:
reptotal.shape

(9992, 3)

In [89]:
reptotal_nodup = reptotal.drop_duplicates(keep='first').reset_index(drop=True)

In [90]:
reptotal_nodup.shape

(6635, 3)

In [91]:
len(reptotal.NIT_empresa.unique())

3862

In [92]:
total_nodup[total_nodup['tipo_organizacion'] != 'INDIVIDUAL'].shape

(3870, 16)

#### fechas

In [93]:
total_nodup.columns

Index(['NIT', 'Nombre', 'tipo_organizacion', 'actividad_economica', 'notario',
       'nit_notario', 'departamento', 'municipio', 'direccion', 'telefono',
       'inscripcion_sat', 'estado_sat', 'estado_rgae', 'fecha_constitucion',
       'inscripcion_provisional_registro_mercantil',
       'inscripcion_definitiva_registro_mercantil'],
      dtype='object')

In [94]:
colfecha = ['inscripcion_sat', 'fecha_constitucion',
       'inscripcion_provisional_registro_mercantil',
       'inscripcion_definitiva_registro_mercantil']

for col in colfecha:
    total_nodup[col] = pd.to_datetime(total_nodup[col], format='%d/%m/%Y', errors='coerce').dt.strftime('%d/%m/%Y')

In [97]:
with pd.ExcelWriter('../output/data_proveedores.xlsx', engine='xlsxwriter') as writer:
    total_nodup.to_excel(writer, sheet_name='PROVEEDORES', index=False)
    reptotal_nodup.to_excel(writer, sheet_name='REP_LEGALES', index=False)